<div class="pt-3">
    <div class="container-fluid footer bg-dark text-light pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        This website Welcomes you to <b style="color:#F05E23">Jayesh Kumar</b> '<i
                            style="color:#D7722C">s</i> blog.
                    </p>
                    <br />
                    <h3>Additional Links:</h3>
                    <ul style="list-style: none;">
                        <li><a href="http://eklavyaadwaitgurukul.ga/">Eklavya Adwait Gurukul</a></li>
                        <li><a href="http://vtuise.herokuapp.com/">VTU 7th sem ML Lab programes</a></li>
                    </ul>
                </div>

                <div class="offset-md-1 col-md-3 text-justify">
                    <p>
                        This site is made purely for personal use and use of this website for any other means is
                        strictly condemned.
                    </p>
                </div>
                <div class="offset-md-1 col-md-3">
                    <h2 class="ml-5">Connect :</h2>
                    <ul id="social" style="list-style: none;">
                        <li>
                            <a href="https://www.facebook.com/Jayeshkr7?ref=bookmarks">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/?hl=en"> <i class="fab fa-instagram" style="color:#fb3958"></i> </a>
                        </li>
                        <li>
                            <a href="https://github.com/jayeshkr77">
                                <i class="fab fa-github" style="color:white"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <p class="text-center"><i style="color:#D7722C">&copy;</i> There is nothing to have a copyright for.</p>

        </div>
    </div>
</div>